@charset "UTF-8";
@import url("index.css");
/* CSS Document */
:root {
	 --primary-color: #EF8F6C;
	 --secondary-color: #28313E;
	 --font-color: #050A0F;
	 --bg-color: #FFFFFF;
	 --shadow-color: rgba(0, 0, 0, 0.3);
}

[data-theme="dark"] {
	--primary-color: #7695BE;
	--secondary-color: #FAEFED;
	--font-color: #F3F4F7;
	--bg-color: #050A0F;
	--shadow-color: rgba(250, 239, 237, 0.1);
}

body{
	margin: 0 5%;
	font-family: korolev, sans-serif;
	color: var(--font-color);
	background-color: var(--bg-color);
}
* {box-sizing: border-box;}
/*///////////////master///////////////*/
a{
	text-decoration: none;
	color: var(--font-color);
}
a:hover{
	color: var(--primary-color);
}
.tab{
	margin-left: 35px;
}
.active{
	color: var(--primary-color);
}
/*///////////////header///////////////*/
#navbar{
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 45px 5%;
	position: fixed;
	left:0;
	width: 100%;
	z-index: 99;
	transition: 0;
	background-color: var(--bg-color);
}
.title{
	width: 100%;
}
.nav{
	width: 100%;
}

/*///////////////title///////////////*/
#title{
	font-size: 25px;
	font-family: 'Palanquin Dark', sans-serif;
	font-style: normal;
	font-weight: 700;
	margin: 0px 0px 5px;
	color: var(--primary-color);
}
h1{
	margin: 0px;
}
h2{
	font-size: 11px;
	font-family: korolev, sans-serif;
	font-weight: 200;
	font-style: normal;
	letter-spacing: 6px;
	margin: 0px;
	color: var(--secondary-color);
}
/*///////////////nav///////////////*/
ol{
	padding: 0px;
}
li{
	font-size: 13px;
	font-family: 'Palanquin Dark', sans-serif;
	font-style: normal;
	font-weight: 500;
	display: inline;
	float: right;
	margin: 0px 0px 0px 40px;
	padding: 0px;
}
/*///////////////stills///////////////*/
.stills{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.stills img{
	width: 33.33%;
	margin: 3px;
}
/*///////////////work///////////////*/
.works{
	padding: 170px 0px 0px;
}
.work{
	padding: 15px 0px;
}
.worktitle{
	font-size: 15px;
	font-family: 'Palanquin Dark', sans-serif;
	font-style: normal;
	font-weight: 500;
	text-align: center;
	margin: 10px inherit;
}
.stills img:hover {
  box-shadow: 0 4px 8px 0 var(--shadow-color);
  cursor: pointer;
}

/*///////////////reel///////////////*/
.reel{
	padding:170px 0px 0px;
}
/*///////////////about///////////////*/
.about{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	padding: 170px 0px 0px;
}
.pics{
	width: 73%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding-right: 10px;
}
.leftcolumn, .middlecolumn, .rightcolumn{
	width: 33.33%;
	padding: 0px 3px;
}
.pics img{
	padding: 3px 0px 0px 0px;
	width: 100%;
}
.bio{
	width: 27%;
	text-align: left;
	font-size: 15px;
	font-weight: 200;
	letter-spacing: 1px;
	padding: 10px;
}
.bio p{
	margin-top: 0px;
}
.strong, #cv, .contact{
	font-weight: 400;
}
.contact{
	margin: 0px;
	padding: 0px;
}
/*///////////////footer///////////////*/
footer{
	padding: 50px 0px;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.copyright{
	font-size:12px;
	padding: 10px;
}
.socials a{
	padding: 10px;
	font-size: 20px;
}
.socials{
	text-align: right;
	width: 50%;
}
.left{
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 50%;
	text-align: left;
}

/*Simple css to style it like a toggle switch*/
.theme-switch-wrapper {
  display: flex;
  align-items: center;
	padding: 0px 10px;
}
.theme-switch {
  display: inline-block;
  height: 20px;
  position: relative;
  width: 35px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: var(--primary-color);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: var(--bg-color);
  bottom: 4px;
  content: "";
  height: 12px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 12px;
}

input:checked + .slider {
  background-color: var(--font-color);
}

input:checked + .slider:before {
  transform: translateX(16px);
}

.slider.round {
  border-radius: 12px;
}

.slider.round:before {
  border-radius: 50%;
}

/*Media Queries*/
@media screen and (max-width: 900px) {
	.about{
		flex-direction: column;
	}
	.pics{
		width: 100%;
		justify-content: center;
		padding: 0px;
	}
	.bio{
		width: 50%;
		margin-top: 10px;
	}
}

@media screen and (max-width: 600px) {
	body{
		margin: 0;
	}
	#navbar{
		flex-direction: column;
		align-items: center;
		text-align: center;
		padding: 30px 2% 15px;
	}
	#title{
		font-size:2.5em;
	}
	h2, .nav li, .worktitle{
		font-size:1.2em;
	}
	ol{
		margin: 15px 0px 0px;
	}
	li{
		margin: 0px 0px 0px 20px;
		float: none;
	}
	.works{
		padding: 200px 0px 0px;
	}
	.work{
		padding: 10px 0px;
	}
	.stills img{
		margin: 1px;
		height:100%;
	}
	.about{
		padding: 200px 0px 0px;
	}
	.pics{
		flex-direction: column;
		margin: 0px;
	}
	.pics img{
		padding: 0px;
		margin: 0px;
	}
	.leftcolumn, .middlecolumn, .rightcolumn{
		width: 100%;
		padding: 0px;
		margin: 0px;
	}
	.bio{
		width: 90%;
		font-size: 1.15em;
	}
	footer{
		margin: 0px 5%;
		padding: 25px 0px 10px;
	}
	.copyright,.theme-switch,.socials i{
			font-size: 1.15em;
	}
}
